## DB Config
# should comply with the db definition on docker-compose.yaml
DB_NAME=ong
DB_USER=root
DB_PASSWORD=secret
DB_PORT=4000
DB_HOST=mysql-srv
##
PORT=3000
## Sendgrid config
MAIL_ADMIN=
MAIL_PASSWORD=
SENDGRID_API_KEY=
## JWT config
JWT_SECRET=testing
# ammount of time on seconds of how long the payload will be valid for
JWT_EXP=
## AWS S3 config
BUCKET_NAME= 
PUBLIC_KEY= 
SECRET_KEY= 